In [3]:
from os import system
system('source ../influxdb-python3/ENV/bin/activate')

32512

In [134]:
from csvtohdf import parse_data, get_data, get_location
from pathlib import Path
import os
import pandas as pd
import datetime
import numpy as np
import matplotlib

ModuleNotFoundError: No module named 'matplotlib'

In [15]:
CWD = Path.cwd()
HOME_DIR = CWD.home()
# DATA_FOLDER = HOME_DIR.joinpath("ED_Data")
DATA_FOLDER = CWD.joinpath("brocoli_data/ED_Data")
DEST_PATH = HOME_DIR.joinpath("server","data.hdf5")

In [17]:
dfs = []
measurements = {}

In [21]:
for root, dirs, files in os.walk(str(DATA_FOLDER)):
    for filename in files:
        if filename.endswith('.csv'):
            ret = parse_data(DATA_FOLDER.joinpath(filename), str(DEST_PATH), filename)
            data = get_data(**ret)
            try:
                key = data.pop()
                key = key.strftime("%Y-%m-%d")
                key = str(key)
                measurements[key] = measurements.get(key, []) + [data]
            except:
                pass

In [26]:
dfs = []
for val in measurements.values():
    df = pd.DataFrame(data= val, columns=['SITE', 'TIMESTAMP', 'RSSI', 'START', 'STEP',
        'geom'])
    if df.empty:
        continue
    df["address"] = df['geom'].apply(get_location)
    dfs.append(df)

In [27]:
data = pd.concat(dfs,ignore_index=True, sort=False)

In [39]:
data.head()

,SITE,TIMESTAMP,RSSI,START,STEP,geom,address
0,ASTI,2020-12-11 17:50:05,"[-94.4, -95.2, -93.8, -94.2, -88.0, -88.0, -90...",400.0,0.2,"(14.647179, 121.072005)","University of the Philippines Diliman, Malakas..."
1,NRTDC,2020-12-11 20:10:06,"[-82.0, -81.9, -82.8, -85.0, -96.1, -93.8, -92...",400.0,0.2,"(14.505025, 124.851131)",0
2,NRTDC,2020-12-11 03:40:06,"[-104.3, -95.6, -94.4, -96.5, -105.2, -108.6, ...",400.0,0.2,"(14.505025, 124.851131)",0
3,ASTI,2020-12-11 13:50:05,"[-85.9, -87.4, -93.6, -98.2, -97.6, -104.5, -1...",400.0,0.2,"(14.647179, 121.072005)","University of the Philippines Diliman, Malakas..."
4,NRTDC,2020-12-11 21:50:06,"[-86.1, -87.8, -90.5, -89.1, -95.1, -95.4, -91...",400.0,0.2,"(14.505025, 124.851131)",0

In [71]:
loc = data['geom'].unique()[0]

In [45]:
data.sort_values(by = 'TIMESTAMP').head()

,SITE,TIMESTAMP,RSSI,START,STEP,geom,address
1958,NRTDC,2020-09-28 20:40:05,"[-92.5, -92.1, -95.3, -100.7, -108.3, -107.2, ...",400.0,0.2,"(14.505025, 124.851131)",0
1957,NRTDC,2020-09-28 22:00:05,"[-94.8, -92.9, -91.5, -90.8, -99.3, -94.8, -94...",400.0,0.2,"(14.505025, 124.851131)",0
678,NRTDC,2020-09-29 03:50:05,"[-96.2, -102.1, -107.5, -101.6, -99.8, -98.7, ...",400.0,0.2,"(14.505025, 124.851131)",0
667,NRTDC,2020-09-29 04:10:05,"[-30.0, -30.0, -30.0, -30.0, -30.0, -30.0, -30...",400.0,0.2,"(14.505025, 124.851131)",0
675,NRTDC,2020-09-29 06:00:05,"[-93.4, -94.8, -98.6, -103.0, -98.6, -93.0, -9...",400.0,0.2,"(14.505025, 124.851131)",0

In [78]:
dates = data['TIMESTAMP'].apply(lambda st: datetime.datetime(year = st.year, month = st.month, day = st.day)).unique()
min(dates)

numpy.datetime64('2020-09-28T00:00:00.000000000')

In [65]:
filter_loc = data[data['geom'] == loc]

In [69]:
filter_date = filter_loc['TIMESTAMP'].apply(lambda st: st.year == 2020 and st.month == 12 and st.day == 11)

In [127]:
new_df = filter_loc[filter_date]
vals = pd.DataFrame.from_dict(dict(zip(new_df.RSSI.index, new_df.RSSI.values)))
vals

          0      3      6      7      8      10     11     15     16
0      -94.4  -85.9  -94.4  -91.2 -101.8  -89.8  -90.6  -98.9  -93.3
1      -95.2  -87.4  -95.7  -93.2  -95.7  -93.3  -91.5  -98.6  -93.1
2      -93.8  -93.6  -98.9 -101.3  -96.1  -93.8  -94.8 -101.4  -89.4
3      -94.2  -98.2 -100.6 -100.6  -97.2  -94.2 -101.4 -108.3  -89.2
4      -88.0  -97.6  -96.2  -90.2  -94.3 -102.8  -91.9 -122.9  -98.5
...      ...    ...    ...    ...    ...    ...    ...    ...    ...
11495 -103.1 -105.0 -113.2  -97.5 -106.1 -112.8 -102.3 -114.4 -100.8
11496 -107.4 -118.8 -107.1 -115.2 -110.3 -108.8 -107.2 -106.1 -109.1
11497 -107.7 -109.1 -107.1 -114.0 -113.9 -104.4 -108.4 -104.4 -105.1
11498 -106.4 -106.5 -107.1 -108.4 -121.5 -101.8 -108.2 -104.8 -103.7
11499 -106.1 -104.4 -106.6 -109.2 -108.5 -103.5 -102.5 -107.4 -105.5

[11500 rows x 9 columns]

In [93]:
new_index = np.arange(new_df.START[0], new_df.START[0] + (new_df.STEP[0] * new_df.RSSI[0].size) ,new_df.STEP[0])

In [132]:
vals.index = new_index
vals.columns = new_df.TIMESTAMP
vals

TIMESTAMP,2020-12-11 17:50:05,2020-12-11 13:50:05,2020-12-11 21:20:05,2020-12-11 10:10:05,2020-12-11 06:30:05,2020-12-11 13:30:05,2020-12-11 04:00:05,2020-12-11 03:00:05,2020-12-11 15:50:05
400.0,-94.4,-85.9,-94.4,-91.2,-101.8,-89.8,-90.6,-98.9,-93.3
400.2,-95.2,-87.4,-95.7,-93.2,-95.7,-93.3,-91.5,-98.6,-93.1
400.4,-93.8,-93.6,-98.9,-101.3,-96.1,-93.8,-94.8,-101.4,-89.4
400.6,-94.2,-98.2,-100.6,-100.6,-97.2,-94.2,-101.4,-108.3,-89.2
400.8,-88.0,-97.6,-96.2,-90.2,-94.3,-102.8,-91.9,-122.9,-98.5
...,...,...,...,...,...,...,...,...,...
2699.0,-103.1,-105.0,-113.2,-97.5,-106.1,-112.8,-102.3,-114.4,-100.8
2699.2,-107.4,-118.8,-107.1,-115.2,-110.3,-108.8,-107.2,-106.1,-109.1
2699.4,-107.7,-109.1,-107.1,-114.0,-113.9,-104.4,-108.4,-104.4,-105.1
2699.6,-106.4,-106.5,-107.1,-108.4,-121.5,-101.8,-108.2,-104.8,-103.7
2699.8,-106.1,-104.4,-106.6,-109.2,-108.5,-103.5,-102.5,-107.4,-105.5

In [133]:
vals.plot()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.